In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

In [2]:
%%capture
from tqdm import tqdm_notebook as tqdm
import numpy as np

In [90]:
# to open up the 
driver = webdriver.Chrome()

In [91]:
# link to site we will be scraping
url = 'https://gis.cdc.gov/grasp/nchhstpatlas/tables.html'

In [92]:
# opens up site we need to scrape
driver.get(url)

In [93]:
# this gets what we need to scrape from the website
table = driver.find_element_by_tag_name('table').text

In [94]:
table

'Indicator Year Geography Race/Ethnicity Age Group Cases Rate per 100,000\nChlamydia 2018 Alabama White 45-54 26 11.8\nChlamydia 2018 Alabama White 40-44 28 29.7\nChlamydia 2018 Alabama White 35-39 66 69.5\nChlamydia 2018 Alabama White 30-34 185 195.9\nChlamydia 2018 Alabama White 25-29 437 422.6\nChlamydia 2018 Alabama White 20-24 1,039 1082.2\nChlamydia 2018 Alabama White 15-19 1,033 1108.7\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 45-54 0 0.0\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 40-44 0 0.0\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 35-39 0 0.0\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 30-34 0 0.0\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 25-29 1 1075.3\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 20-24 1 781.3\nChlamydia 2018 Alabama Native Hawaiian/Other Pacific Islander 15-19 1 763.4\nChlamydia 2018 Alabama Multiple races 45-54 0 0.0\nChlamydia 2018 Alabama Multiple races 40-44 1 67.3\nChlamydia 2018 Alabama Multiple races 35-39 1 60.2\nChlamydia 2018 Alabama Multiple races 30-34 2 105.5\nChlamydia 2018 Alabama Multiple races 25-29 14 574.7\nChlamydia 2018 Alabama Multiple races 20-24 46 1526.7'

In [95]:
# this splits our output from the tables so we have a list of observations from that data that we want
info = [x.split(' ') for x in table.split('\n')]

In [96]:
info

[['Indicator',
  'Year',
  'Geography',
  'Race/Ethnicity',
  'Age',
  'Group',
  'Cases',
  'Rate',
  'per',
  '100,000'],
 ['Chlamydia', '2018', 'Alabama', 'White', '45-54', '26', '11.8'],
 ['Chlamydia', '2018', 'Alabama', 'White', '40-44', '28', '29.7'],
 ['Chlamydia', '2018', 'Alabama', 'White', '35-39', '66', '69.5'],
 ['Chlamydia', '2018', 'Alabama', 'White', '30-34', '185', '195.9'],
 ['Chlamydia', '2018', 'Alabama', 'White', '25-29', '437', '422.6'],
 ['Chlamydia', '2018', 'Alabama', 'White', '20-24', '1,039', '1082.2'],
 ['Chlamydia', '2018', 'Alabama', 'White', '15-19', '1,033', '1108.7'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '45-54',
  '0',
  '0.0'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '40-44',
  '0',
  '0.0'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '35-39',
  '0',
  '0.0'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '30-34',
  '0',
  '0.0'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '25-29',
  '1',
  '1075.3'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '20-24',
  '1',
  '781.3'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '15-19',
  '1',
  '763.4'],
 ['Chlamydia', '2018', 'Alabama', 'Multiple', 'races', '45-54', '0', '0.0'],
 ['Chlamydia', '2018', 'Alabama', 'Multiple', 'races', '40-44', '1', '67.3'],
 ['Chlamydia', '2018', 'Alabama', 'Multiple', 'races', '35-39', '1', '60.2'],
 ['Chlamydia', '2018', 'Alabama', 'Multiple', 'races', '30-34', '2', '105.5'],
 ['Chlamydia', '2018', 'Alabama', 'Multiple', 'races', '25-29', '14', '574.7'],
 ['Chlamydia',
  '2018',
  'Alabama',
  'Multiple',
  'races',
  '20-24',
  '46',
  '1526.7']]

In [97]:
col_names = ['Indicator',
  'Year',
  'Geography',
  'Race/Ethnicity',
  'Age',
  'Group',
  'Cases',
  'Rate',
  'per',
  '100,000']

In [99]:
master = []

for x in info: 
    lst = []
    if len(x) == 7:
        lst = x
    elif len(x) == 8:
        lst = x[0:3]
        lst.append(''.join(x[3:5]))
        lst.extend(x[5:8])
    elif len(x) == 9:
        lst = x[0:3]
        lst.append(''.join(x[3:6]))
        lst.extend(x[6:9])
    elif len(x) == 10:
        lst = x[0:3]
        lst.append(''.join(x[3:7]))
        lst.extend(x[6:10])
    elif x == col_names:
        pass
master.append(lst)

In [100]:
master

[['Chlamydia', '2018', 'Alabama', 'Multipleraces', '20-24', '46', '1526.7']]

In [98]:
next_b = driver.find_element_by_xpath('//*[@id="pivotTable_next"]')

In [81]:
master = []
table = driver.find_element_by_tag_name('table').text
info = [x.split(' ') for x in table.split('\n')]
s = ''
for i in tqdm(range(0,5)):
#     table = driver.find_element_by_tag_name('table').text
#     info = [x.split(' ') for x in table.split('\n')]

    for x in info: 
        lst = []
        if len(x) == 7:
            lst = x
        elif len(x) == 8:
            lst = x[0:3]
            lst.append(''.join(x[3:5]))
            lst.extend(x[5:8])
        elif len(x) == 9:
            lst = x[0:3]
            lst.append(''.join(x[3:6]))
            lst.extend(x[6:9])
        elif len(x) == 10:
            lst = x[0:3]
            lst.append(''.join(x[3:7]))
            lst.extend(x[6:10])
        elif x == col_names:
            pass

    master.append(lst)
    
    next_b = driver.find_element_by_xpath('//*[@id="pivotTable_next"]')
    next_b.click()

<ipython-input-81-357a3637642a>:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(0,5)):

HBox(children=(FloatProgress(value=0.0, max=5.0), HTML(value='')))

In [80]:
info

[['Indicator',
  'Year',
  'Geography',
  'Race/Ethnicity',
  'Age',
  'Group',
  'Cases',
  'Rate',
  'per',
  '100,000'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '45-54',
  '0',
  '0.0'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '40-44',
  '0',
  '0.0'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '35-39',
  '2',
  '226.0'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '30-34',
  '3',
  '325.0'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '25-29',
  '3',
  '336.7'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '20-24',
  '6',
  '620.5'],
 ['Chlamydia',
  '2016',
  'Alabama',
  'American',
  'Indian/Alaska',
  'Native',
  '15-19',
  '7',
  '726.9'],
 ['Chlamydia', '2015', 'Alabama', 'White', '45-54', '23', '10.2'],
 ['Chlamydia', '2015', 'Alabama', 'White', '40-44', '32', '31.8'],
 ['Chlamydia', '2015', 'Alabama', 'White', '35-39', '85', '91.0'],
 ['Chlamydia', '2015', 'Alabama', 'White', '30-34', '231', '243.2'],
 ['Chlamydia', '2015', 'Alabama', 'White', '25-29', '524', '524.5'],
 ['Chlamydia', '2015', 'Alabama', 'White', '20-24', '1,415', '1395.4'],
 ['Chlamydia', '2015', 'Alabama', 'White', '15-19', '1,147', '1218.8'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '45-54',
  '0',
  '0.0'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '40-44',
  '0',
  '0.0'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '35-39',
  '1',
  '980.4'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '30-34',
  '0',
  '0.0'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '25-29',
  '0',
  '0.0'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Native',
  'Hawaiian/Other',
  'Pacific',
  'Islander',
  '20-24',
  '1',
  '1010.1']]

In [82]:
master

[['Chlamydia',
  '2015',
  'Alabama',
  'Black/AfricanAmerican',
  '25-29',
  '1,399',
  '2765.7'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Black/AfricanAmerican',
  '25-29',
  '1,399',
  '2765.7'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Black/AfricanAmerican',
  '25-29',
  '1,399',
  '2765.7'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Black/AfricanAmerican',
  '25-29',
  '1,399',
  '2765.7'],
 ['Chlamydia',
  '2015',
  'Alabama',
  'Black/AfricanAmerican',
  '25-29',
  '1,399',
  '2765.7']]

In [47]:
master = []
table = driver.find_element_by_tag_name('table').text
info = [x.split(' ') for x in table.split('\n')]
s = ''

for x in info: 
    lst = []
    if len(x) == 7:
        lst = x
    elif len(x) == 8:
        lst = x[0:3]
        lst.append(''.join(x[3:5]))
        lst.extend(x[5:8])
    elif len(x) == 9:
        lst = x[0:3]
        lst.append(''.join(x[3:6]))
        lst.extend(x[6:9])
    elif len(x) == 10:
        lst = x[0:3]
        lst.append(''.join(x[3:7]))
        lst.extend(x[6:10])
    elif x == col_names:
        pass

    master.append(lst)

In [49]:
len(master)

21

In [87]:
table = driver.find_element_by_tag_name('table').text
info = [x.split(' ') for x in table.split('\n')]
master = []
for x in info: 
    lst = []
    if len(x) == 7:
        lst = x
    elif len(x) == 8:
        lst = x[0:3]
        lst.append(''.join(x[3:5]))
        lst.extend(x[5:8])
    elif len(x) == 9:
        lst = x[0:3]
        lst.append(''.join(x[3:6]))
        lst.extend(x[6:9])
    elif len(x) == 10:
        lst = x[0:3]
        lst.append(''.join(x[3:7]))
        lst.extend(x[6:10])
    elif x == col_names:
        pass
master.append(lst)

In [88]:
master

[['Chlamydia',
  '2013',
  'Alabama',
  'Black/AfricanAmerican',
  '15-19',
  '3,412',
  '6757.6']]

In [89]:
for x in info:
    print(x)

['Indicator', 'Year', 'Geography', 'Race/Ethnicity', 'Age', 'Group', 'Cases', 'Rate', 'per', '100,000']
['Chlamydia', '2013', 'Alabama', 'Multiple', 'races', '40-44', '0', '0.0']
['Chlamydia', '2013', 'Alabama', 'Multiple', 'races', '35-39', '0', '0.0']
['Chlamydia', '2013', 'Alabama', 'Multiple', 'races', '30-34', '0', '0.0']
['Chlamydia', '2013', 'Alabama', 'Multiple', 'races', '25-29', '4', '206.8']
['Chlamydia', '2013', 'Alabama', 'Multiple', 'races', '20-24', '11', '418.7']
['Chlamydia', '2013', 'Alabama', 'Multiple', 'races', '15-19', '14', '456.0']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '45-54', '0', '0.0']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '40-44', '2', '37.5']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '35-39', '8', '118.2']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '30-34', '14', '173.7']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '25-29', '29', '363.0']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '20-24', '56', '796.6']
['Chlamydia', '2013', 'Alabama', 'Hispanic/Latino', '15-19', '33', '491.1']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '45-54', '42', '45.7']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '40-44', '64', '145.1']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '35-39', '173', '397.4']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '30-34', '480', '1004.3']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '25-29', '1,281', '2665.9']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '20-24', '4,209', '7243.7']
['Chlamydia', '2013', 'Alabama', 'Black/African', 'American', '15-19', '3,412', '6757.6']